<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="university/index :: headField('Add teacher')"></head>
<body>
<div class="container text-center">
  <div th:replace="university/index :: header"></div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto g-2">
      <form th:method="POST" th:action="@{/teachers/add}" th:object="${teacher}">

        <div class="row g-2 m-3 align-items-center">
          <div class="col-3">
            <label for="name" class="col-form-label">Name</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" id="name" th:field="*{name}">
          </div>
        </div>

        <div class="row g-2 m-3 align-items-center">
          <div class="col-3">
            <label for="surname" class="col-form-label">Surname</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" id="surname" th:field="*{surname}">
          </div>
        </div>
        <div class="row g-2 m-3 align-items-center">
          <div class="col-3">
            <label for="login" class="col-form-label">Login</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" id="login" th:field="*{login}">
          </div>
        </div>
        <div class="row g-2 m-3 align-items-center">
          <div class="col-3">
            <label for="password" class="col-form-label">Password</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" id="password" th:field="*{password}">
          </div>
        </div>
        <div class="row g-2 m-3 align-items-center">
          <div class="col-3">
            <label for="role" class="col-form-label">Role</label>
          </div>
          <div class="col-9">
            <select th:object="${teacher}" th:field="*{role}" class="form-select" id="role">
              <option th:each="role : ${roles}" th:value="${role}" th:text="${role}" selected>
              </option>
            </select>
          </div>
        </div>
        <div class="row g-2 m-3 align-items-center">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:replace="university/index :: bootstrap_bundle_min_js"></div>
</body>
</html>