<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="university/index :: headField('Course')">
</head>
<body>
<div class="container text-center">
    <div th:replace="university/index :: header"></div>
    <div th:replace="university/show :: edit_delete_buttons('courses', ${course.getId()})"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto g-2">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td th:text="${course.getCourseName()}">Course name</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="university/index :: bootstrap_bundle_min_js"></div>
</body>
</html>