<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="university/index.html :: headField(title='Audiences')"></head>
<body>
<div class="container text-center">

  <div th:replace="university/index.html :: header"></div>

  <table th:if="${students}" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">age</th>
      <th scope="col">Phone</th>
      <th scope="col">Login</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student, state : ${students}">
      <th scope="row" th:text="${state.index} + 1">index</th>
      <td th:text="${student.getName()}">Student name</td>
      <td th:text="${student.getSurname()}">Student surname</td>
      <td th:text="${student.getAge()}">Student age</td>
      <td th:text="${student.getPhone()}">Student phone</td>
      <td th:text="${student.getLogin()}">Student login</td>
      <td th:text="${student.getPassword}">Student password</td>
      <td th:text="${student.getRole()}">Student role</td>
    </tr>
    </tbody>
  </table>
  <h1 th:unless="${students}">No students yet</h1>

</div>
<div th:replace="university/index :: bootstrap_bundle_min_js"></div>
</body>
</html>