<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>People</title>
</head>
<body>
<div class="container text-center">
    <ul class="nav justify-content-center nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/university/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/university/students">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/university/teachers">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/university/lectures">Lectures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/university/audiences">Audiences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/university/groups">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/university/courses">Courses</a>
        </li>
    </ul>

    <table th:if="${audiences}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Room number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="audience, state : ${audiences}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${audience.getRoomNumber()}">Room Number</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyAudiences}">No audiences yet</h1>

    <table th:if="${courses}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Course name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, state : ${courses}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${course.getCourseName()}">Course name</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyCourses}">No courses yet</h1>

    <table th:if="${groups}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Groups name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group, state : ${groups}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${group.getGroupName}">Group name</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyGroups}">No groups yet</h1>

    <table th:if="${users}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">age</th>
            <th scope="col">Phone</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, state : ${users}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${user.getName()}">User name</td>
            <td th:text="${user.getSurname()}">User surname</td>
            <td th:text="${user.getAge()}">User age</td>
            <td th:text="${user.getPhone()}">User phone</td>
            <td th:text="${user.getLogin()}">User login</td>
            <td th:text="${user.getPassword}">User password</td>
            <td th:text="${user.getRole()}">User role</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyUsers}">No users yet</h1>

    <table th:if="${students}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">age</th>
            <th scope="col">Phone</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, state : ${students}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${student.getName()}">Student name</td>
            <td th:text="${student.getSurname()}">Student surname</td>
            <td th:text="${student.getAge()}">Student age</td>
            <td th:text="${student.getPhone()}">Student phone</td>
            <td th:text="${student.getLogin()}">Student login</td>
            <td th:text="${student.getPassword}">Student password</td>
            <td th:text="${student.getRole()}">Student role</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyStudents}">No students yet</h1>

    <table th:if="${teachers}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">age</th>
            <th scope="col">Phone</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher, state : ${teachers}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${teacher.getName()}">Teacher name</td>
            <td th:text="${teacher.getSurname()}">Teacher surname</td>
            <td th:text="${teacher.getAge()}">Teacher age</td>
            <td th:text="${teacher.getPhone()}">Teacher phone</td>
            <td th:text="${teacher.getLogin()}">Teacher login</td>
            <td th:text="${teacher.getPassword}">Teacher password</td>
            <td th:text="${teacher.getRole()}">Teacher role</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyTeachers}">No teachers yet</h1>

    <table th:if="${lectures}" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Course</th>
            <th scope="col">Teacher</th>
            <th scope="col">Date</th>
            <th scope="col">Group</th>
            <th scope="col">Pair Number</th>
            <th scope="col">Audience number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture, state : ${lectures}">
            <th scope="row" th:text="${state.index} + 1">index</th>
            <td th:text="${lecture.get('course')}">Course name</td>
            <td th:text="${lecture.get('teacher')}">Teacher name</td>
            <td th:text="${lecture.get('lectureDate')}">Lecture date</td>
            <td th:text="${lecture.get('group')}">Group name</td>
            <td th:text="${lecture.get('pair')}">Pair</td>
            <td th:text="${lecture.get('audience')}">Audience</td>
        </tr>
        </tbody>
    </table>
    <h1 th:if="${emptyLectures}">No lectures yet</h1>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>
</html>